# requirements.txt para el modelo basado en Transformers

# Librería principal de Hugging Face para cargar el modelo y el tokenizador
transformers==4.38.2

# PyTorch es requerido por transformers para ejecutar el modelo
torch==2.1.2
